<!--<adv-growl [life]="10000"></adv-growl>-->
<!--<div class="col-md-6 col-md-offset-3">-->
    <!--<h4 style="text-align: center;">Sign up</h4>-->
    <!--<form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>-->

        <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">-->
            <!--<label for="email">{{"email" }}</label>-->
            <!--<input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required email/>-->
            <!--<div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>-->
        <!--</div>-->

        <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">-->
            <!--<label for="password">{{"password" }}</label>-->
            <!--<input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />-->
            <!--<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<button [disabled]="loading" pButton label='Register'></button>-->
            <!--<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
            <!--<a [routerLink]="['/login']" pButton class="ui-button-warning" label='Cancel'></a>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h5 class="logo-name logo-left">SMART</h5>
            <h5 class="logo-name logo-right">STORM</h5>
        </div>
        <h3>Welcome to Smartstorm</h3>

        <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required email/>
                <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
            </div>
            <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
            <button type="submit" [disabled]="loading" class="btn btn-primary block full-width m-b">Register</button>
            <button [routerLink]="['/login']" [disabled]="loading" class="btn btn-sm btn-white btn-block">Already have an account? Sign in</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </form>
    </div>
</div>

